<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="sessionFactory">
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/store2?serverTimezone=UTC</property>
          <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Vinay@1996</property>
      
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>
            
  <mapping class="com.neu.store.pojo.Customer"/>
  <mapping class="com.neu.store.pojo.Email"/>
  <mapping class="com.neu.store.pojo.Person"/>
  <mapping class="com.neu.store.pojo.Category"/>
  <mapping class="com.neu.store.pojo.Advert"/>
  <mapping class="com.neu.store.pojo.Book"/>
    </session-factory>
</hibernate-configuration>
